.cc-announcement {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    transition: max-height 1s, opacity 0.5s, visibility 0.5s;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

a {
    text-decoration: none !important;
    /*color: inherit;*/
    -webkit-transition: color 150ms, background-color 150ms;
    -ms-transition: color 150ms, background-color 150ms;
    -moz-transition: color 150ms, background-color 150ms;
    -o-transition: color 150ms, background-color 150ms;
    transition: color 150ms, background-color 150ms;
    color: black;
}

@media (min-width: 1400px) {
    .site-control.nav-inline-desktop .nav-right-side {
        width: 270px;
    }
}

@media (min-width: 1441px) {
    .site-control.nav-inline-desktop .nav-row .nav-columns {
        padding-left: 90px;
        padding-right: 90px;
    }
}
.color-text{
    color: black;
}
video {
    width: 100%;
}
lifestyle-video {
    height: auto;
}
#search-box {
    background: white;
    border-radius: 30px;
}

#search-box #search-text {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}

#search-box:hover #search-text, #search-box #search-text:valid {
    width: 200px;
    padding: 10px 0px 10px 15px;
}

#search-box #search-btn {
    background-color: Black;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    font-size: 15px;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

nav {
    background: #fff;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li::after {
    content: '';
    background: #f44566;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
}

nav ul li:hover {
    color: black;
}
span-1:hover{
    color: black;
}
.image-container {
    display: flex;
    justify-content: center;
}
a:hover{
    color: black;
}