<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Little Book</title>
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
    <!--          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet"
          crossorigin="anonymous">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/slick.css"/>

    <link href="/css/tooplate-little-fashion.css" rel="stylesheet">
</head>

<body>
<header th:replace="/layout-top::header" class="header">
</header>
<main>
    <section class="slick-slideshow">
        <div class="slick-custom">
            <img src="/images/slideshow/medium-shot-business-women-high-five.jpeg" class="img-fluid" alt="">
            <div class="slick-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-10">
                            <h1 class="slick-title">Little Book</h1>

                            <p class="lead text-white mt-lg-3 mb-lg-5">Nhà sách trực tuyến Little Book mang đến bạn những giá trị tuyệt vời từ sách.
                                Luôn cập nhật nhanh nhất sách hay nên đọc các thể loại</p>
                            <a href="about.html" class="btn custom-btn">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slick-custom">
            <img src="/images/slideshow/team-meeting-renewable-energy-project.jpeg" class="img-fluid" alt="">

            <div class="slick-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-10">
                            <h1 class="slick-title">Mẫu sách mới</h1>

                            <p class="lead text-white mt-lg-3 mb-lg-5">Hãy chia sẻ các mẫu SÁCH này đến với bạn bè của bạn nhé.
                                Cảm ơn bạn đã ủng hộ chúng tôi.</p>

                            <a href="" class="btn custom-btn" th:href="@{/product}">Khám phá sản phẩm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slick-custom">
            <img src="/images/slideshow/two-business-partners-working-together-office-computer.jpeg" class="img-fluid"
                 alt="">

            <div class="slick-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-10">
                            <h1 class="slick-title">Liên hệ chúng tôi</h1>

                            <p class="lead text-white mt-lg-3 mb-lg-5">Chúng tôi rất vui mừng đón nhận các ý kiến khách quan từ các bạn.
                                </p>

                            <a href="contact.html" class="btn custom-btn">Chia sẻ trải nghiệm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="about section-padding">
        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h2 class="mb-5">Hãy bắt đầu với <span>Little</span> Book</h2>
                </div>

                <div class="col-lg-2 col-12 mt-auto mb-auto">
                    <ul class="nav nav-pills mb-5 mx-auto justify-content-center align-items-center" id="pills-tab"
                        role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">Giới thiệu
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-youtube-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-youtube" type="button" role="tab"
                                    aria-controls="pills-youtube" aria-selected="true">Tác giả làm việc như thế nào?
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-skill-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill"
                                    aria-selected="false">Khả năng
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-10 col-12">
                    <div class="tab-content mt-2" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">

                            <div class="row">
                                <div class="col-lg-7 col-12">
                                    <img src="https://static.tramdoc.vn/image/img.news/0/0/0/275.jpg?v=1&w=628&h=365&nocache=1" class="img-fluid" alt="">
                                </div>

                                <div class="col-lg-5 col-12">
                                    <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                        <h4 class="mb-3">Nơi <span>TÌM KIẾM</span> <br>các mẫu sách <span>TỐT</span>
                                            nhất cho mọi độc giả</h4>

                                        <p>Sách là bạn và là người thầy, mang cả thế giới tri thức và trải nghiệm của
                                            con người trên khắp thế giới chia sẻ với bạn.</p>

                                        <p>Little Book luôn cập nhật nhanh nhất sách hay nên đọc các thể loại Văn Học, Kinh tế,
                                            Kiến trúc, Chính trị, Triết học, Sách cho Teen, Thiếu nhi, Truyện tranh, Sách học Tiếng Anh .</p>

                                        <div class="mt-2 mt-lg-auto">
                                            <a href="about.html" class="custom-link mb-2">
                                                TÌM HIỂU THÊM VỀ CHÚNG TÔI
                                                <i class="bi-arrow-right ms-2"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-youtube" role="tabpanel"
                             aria-labelledby="pills-youtube-tab">

                            <div class="row">
                                <div class="col-lg-7 col-12">
                                    <div class="ratio ratio-16x9">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/SA_q-c7Zw7s?si=fSQ7l74IfPIKeOpA"
                                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                                                encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                    </div>
                                </div>

                                <div class="col-lg-5 col-12">
                                    <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                        <h4 class="mb-3">Cuộc sống tại Studio</h4>

                                        <p>Giới thiệu về các tác giả và cuộc sống của họ</p>

                                        <p>Tác giả</p>

                                        <div class="mt-2 mt-lg-auto">
                                            <a href="contact.html" class="custom-link mb-2">
                                                LÀM VIỆC VỚI CHÚNG TÔI
                                                <i class="bi-arrow-right ms-2"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                            <div class="row">
                                <div class="col-lg-7 col-12">
                                    <img src="https://hoanghamobile.com/tin-tuc/wp-content/webp-express/webp-images/uploads/2023/08/nhung-cau-noi-hay-ve-sach-1.jpg.webp" class="img-fluid" alt="">
                                </div>

                                <div class="col-lg-5 col-12">
                                    <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                        <h4 class="mb-3">Điều gì có thể giúp bạn?</h4>

                                        <p>Với nhiều năm phát hành sách, chúng tôi đã có cơ hội gặp gỡ rất nhiều tác giả và đọc giả.</p>

                                        <div class="skill-thumb mt-3">

                                            <strong>Xây dựng trang we</strong>
                                            <span class="float-end">90%</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" role="progressbar"
                                                     aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: 90%;"></div>
                                            </div>

                                            <strong>Thiết kế & Chiến lược</strong>
                                            <span class="float-end">70%</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" role="progressbar"
                                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: 70%;"></div>
                                            </div>

                                            <strong>Nền tảng trực tuyến</strong>
                                            <span class="float-end">80%</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" role="progressbar"
                                                     aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: 80%;"></div>
                                            </div>

                                        </div>

                                        <div class="mt-2 mt-lg-auto">
                                            <a href="products.html" class="custom-link mb-2">
                                                KHÁM PHÁ SẢN PHẨM
                                                <i class="bi-arrow-right ms-2"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="front-product">
        <div class="container-fluid p-0">
            <div class="row align-items-center">

                <div class="col-lg-6 col-12">
                    <img src="https://4.bp.blogspot.com/-OsUiNE1oyQY/VlIC8zr94xI/AAAAAAAACRc/UeKLUYlL9sA/s1600/maxresdefault.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 col-12">
                    <div class="px-5 py-5 py-lg-0">

                        <h2 class="mb-4"><span>Tác giả tiêu biểu:</span> Ayn Rand</h2>

                        <p class="lead mb-4">Ayn Rand (2 tháng 2 năm 1905 – 6 tháng 3 năm 1982) là một nhà tiểu thuyết và lý
                            luận quốc tịch Mỹ sinh tại Nga. Bà nổi tiếng vì đã phát triển học thuyết Chủ nghĩa khách quan và
                            vì đã viết một số tác phẩm như We the Living (Chúng ta những kẻ sống), The Fountainhead (Suối nguồn),
                            Atlas Shrugged (Người khổng lồ nghiêng vai), For the new Intellectual (Vì giới tri thức mới) và tiểu thuyết ngắn Anthem.</p>

                        <a href="products.html" class="custom-link">
                            Tìm hiểu thêm về tác giả
                            <i class="bi-arrow-right ms-2"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="featured-product section-padding">
        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h2 class="mb-5">Sách nổi bật</h2>
                </div>

                <div class="col-lg-4 col-12 mb-3">
                    <div class="product-thumb">
                        <a href="product-detail.html">
                            <img src="https://salt.tikicdn.com/cache/w400/ts/product/aa/77/bd/b27b0a3be2177e0153af1748981af147.jpg"
                                 class="img-fluid product-image" alt="">
                        </a>

                        <div class="product-top d-flex">
                            <span class="product-alert me-auto">Sách mới</span>

                            <a href="#" class="bi-heart-fill product-icon"></a>
                        </div>

                        <div class="product-info d-flex">
                            <div>
                                <h5 class="product-title mb-0">
                                    <a href="product-detail.html" class="product-title-link">Lạc Vào Vùng Ký Ức</a>
                                </h5>

                                <p class="product-p">Sarah Addison Allen</p>
                            </div>

                            <small class="product-price text-muted ms-auto mt-auto mb-5">152,000 đ</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mb-3">
                    <div class="product-thumb">
                        <a href="product-detail.html">
                            <img src="https://salt.tikicdn.com/cache/w400/ts/product/aa/77/bd/b27b0a3be2177e0153af1748981af147.jpg"
                                 class="img-fluid product-image" alt="">
                        </a>

                        <div class="product-top d-flex">
                            <span class="product-alert">Bán chạy</span>

                            <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                        </div>

                        <div class="product-info d-flex">
                            <div>
                                <h5 class="product-title mb-0">
                                    <a href="product-detail.html" class="product-title-link">Lạc Vào Vùng Ký Ức</a>
                                </h5>

                                <p class="product-p">Costume Package</p>
                            </div>

                            <small class="product-price text-muted ms-auto mt-auto mb-5">$35</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12">
                    <div class="product-thumb">
                        <a href="product-detail.html">
                            <img src="https://salt.tikicdn.com/cache/w400/ts/product/aa/77/bd/b27b0a3be2177e0153af1748981af147.jpg"
                                 class="img-fluid product-image" alt="">
                        </a>

                        <div class="product-top d-flex">
                            <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                        </div>

                        <div class="product-info d-flex">
                            <div>
                                <h5 class="product-title mb-0">
                                    <a href="product-detail.html" class="product-title-link">Lạc Vào Vùng Ký Ức</a>
                                </h5>

                                <p class="product-p">Nature made another world</p>
                            </div>

                            <small class="product-price text-muted ms-auto mt-auto mb-5">$45</small>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center">
                    <a href="" th:href="@{/product}" class="view-all">XEM TẤT CẢ SẢN PHẨM</a>
                </div>

            </div>
        </div>
    </section>

</main>
<header th:replace="/layout-top::footer" class="footer">
</header>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/Headroom.js"></script>
<script src="/js/jQuery.headroom.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>
